[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

.vs/
.idea/
.vscode/

*.csproj
*.sln
*.user
*.userprefs
*.tmp
*.pdb
*.mdb
*.opendb
*.VC.db

__pycache__/
*.pyc
.venv/
venv/
env/

.DS_Store
Thumbs.db